<h2> Bonjour </h2>
<p>
  Nous vous envoyons ce mail pour vous notifier que votre compte a été créé avec succès. <br>
  Veuillez cliquer sur le lien suivant <a href="{{ link }}">Cliquer ici</a> pour confirmer votre compte.
</p>
